{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true,
        "jest": true
    }
}